<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<div layout:fragment="content" class="container">
    <h5 class="my-3 border-bottom pb-2">코드 등록</h5>
    <form th:object="${postForm}" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <div th:replace="~{form_errors :: formErrorsFragment}"></div>
        <div class="mb-3">
            <input class="form-control" type="text" placeholder="코드 제목을 입력해 주세요" id="inputLarge" th:field="*{subject}">
        </div>
        <div class="mb-3">
            <textarea th:field="*{content}" class="form-control" rows="10" data-codemirror></textarea>
        </div>
        <div style="display: flex; justify-content: flex-end;">
            <input type="submit" value="저장하기" class="btn btn-primary my-2" style="border-radius: 5px;">
        </div>
    </form>
</div>

<script type='text/javascript'>
    document.addEventListener('DOMContentLoaded', (event) => {
        // 코드 입력창의 초기 상태가 15라인을 가지도록 설정
        var initialLineCount = 15;
        var currentLineCount = editor.lineCount();
        for (var i = currentLineCount; i < initialLineCount; i++) {
            editor.replaceRange("\n", CodeMirror.Pos(editor.lastLine()));
        }
    });
</script>

</html>

